.aboutus-div {
  background-image: url("/src/assets/logIn/signBackground.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 2000px 1414px;
  text-align: center;
}

.aboutus-div ul {
  font-size: 20px;
}
